{% extends 'base.html.twig' %}

{% block title %}Liste des évènement{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Liste des évènements</h1>
        </div>
                {# 
            to access information from the application
                we have at our disposal the variable 'app'
                and for flashMessage has a method flashes('type')
                we said it was an array, so we can loop over it
            #}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        <div id="body_create">
            <a href="{{ path('app_event_new') }}">nouvel évènement</a>
        </div>
    
        <div id="body_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>             
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>
                            <a href="{{ path('app_event_show', {'id': event.id}) }}">voir +</a>
                            <a href="{{ path('app_event_edit', {'id': event.id}) }}">modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
