{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Evènement</h1>
        </div>
        <div id="body_create">
            <a href="{{ path('app_event_index') }}">retour</a>
            <a href="{{ path('app_event_edit', {'id': event.id}) }}">modifier</a>
        </div>

        <div id="body_table">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ event.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ event.title }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ event.content }}</td>
                    </tr>
                    <tr>
                        <th>Content 2</th>
                        <td>{{ event.content2 }}</td>
                    </tr>
                    <tr>
                        <th>Link_video</th>
                        <td>{{ event.linkVideo }}</td>
                    </tr>
                    <tr>
                        <th>Link_sound</th>
                        <td>{{ event.linkSound }}</td>
                    </tr>
                    <tr>
                        <th>Picture_1</th>
                        <td>{{ event.picture1 }}</td>
                    </tr>
                    <tr>
                        <th>Picture_2</th>
                        <td>{{ event.picture2 }}</td>
                    </tr>
                    <tr>
                        <th>Picture_3</th>
                        <td>{{ event.picture3 }}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{ event.time ? event.time|date('H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ event.age }}</td>
                    </tr>
                    <tr>
                        <th>Technique 1</th>
                        <td>{{ event.technique1 }}</td>     
                    </th>               
                    <tr>
                        <th>Technique 2</th>
                        <td>{{ event.technique2 }}</td>     
                    </th>               
                    <tr>
                        <th>Technique 3</th>
                        <td>{{ event.technique3 }}</td>     
                    </th>               
                </tbody>
            </table>
            {{ include('event/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
