<!-- Nav -->
<nav class="navigation">   
    <ul>
        <li>
            <a href="{{ path('app_user_index')}}">Profils</a>
        </li>
        <li>
            <a href="{{ path('app_user_index')}}">Liste des profils</a>
        </li>
        <li>
            <a href="{{ path('app_event_index')}}">Evènements</a>
        </li>
        <li>
            <a href="{{ path('app_category_index')}}">Catégories</a>
        </li>
        <li>
            <a href="{{ path('app_logout')}}">Déconnexion</a>
        </li>        
    </ul>
</nav>

