{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Liste des catégories</h1>
        </div>
            {# 
                pour acceder a des infos venant de l'application
                on a à notre dsposition la variable 'app'
                et pour les flashMessage a une méthode flashes('type')
                on a dit que c'était un tableau, on peut donc boucler dessus
                #}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        <div id="body_create">
            <a href="{{ path('app_category_new') }}">nouvelle Catégorie</a>
        </div>

        <div id="body_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td id="categoryActions">
                            <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn-actions">show</a>
                            <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn-actions">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>      
{% endblock %}
