{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Catégorie</h1>
        </div>
        <div id="body_create">
            <a href="{{ path('app_category_index') }}">retour</a>
            <a href="{{ path('app_category_edit', {'id': category.id}) }}">modifier</a>
        </div>
        <div id="body_table">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ category.name }}</td>
                    </tr>
                </tbody>
            </table>
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
