{% extends 'base.html.twig' %}

{% block title %}Liste des profils{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Liste des profils</h1>
        </div>
        <div id="body_create">
            <a href="{{ path('app_user_new') }}">nouveau profil</a>
        </div>

        <div id="body_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>profil</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>

                        <div>
                            <td>
                                <a href="{{ path('app_user_show', {'id': user.id}) }}">voir +</a>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
                            </td>
                        </div>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
