{% extends 'base.html.twig' %}

{% block title %}Liste des profils{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Liste des profils</h1>
        </div>
        
        <div id="body_create">
            <a href="{{ path('app_user_new') }}">nouveau profil</a>
        </div>
 {# 
    to access information from the application
                we have at our disposal the variable 'app'
                and for flashMessage has a method flashes('type')
                we said it was an array, so we can loop over it
    #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
        <div id="body_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Profils</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                       
                        <td>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}">voir +</a>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
